Answer each question by doing some operations with Python. Put conclusion in the comments

1.1 For the following variables, use the function type() from Python to check the data type for the variables.

In [18]:
x1 = 1.1
x2 = "Monday"
x3 = "1.1"
x4 = True
x5 = "True"
x6 = -1

In [17]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))

<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'int'>

1.2 What is the difference between variables x1 and x3?

In [7]:
type(x1)

float

In [9]:
type(x3)

str

1.3 What happens if you subtract x3 from x1?

In [8]:
x3-x1

TypeError: unsupported operand type(s) for -: 'str' and 'float'

1.4 What is the difference between variables x4 and x5?

In [10]:
type(x4)

bool

In [11]:
type(x5)

str

1.5 What happens if you subtract x5 from x4?

In [12]:
x5-x4

TypeError: unsupported operand type(s) for -: 'str' and 'bool'

2.1 To gather input from the user, we can use the function input(message), where “message” is a meaningful message of type str and will be displayed to the user.

In [20]:
input1 = input("What is your first name? ")
input2 = input("What is your last name? ")
print("hi"+ " "  +input1 + " " + input2)

hi kushath krishna

input1 = input("What is your first name? ")
input2 = input("What is your last name? ")
print("hi" + " " +input1 + " " + input2)

Question 1: Print the values of the two variables? As you might have noticed, data type of x1 and x2 is string. Even though we entered integers, the input function converts them into string by default. Now we do some data type conversion from string to integers:

In [21]:
print("Value of input1:", x1)
print("Value of input2:", x2)
try:
    input1_int = int(input1)
    input2_int = int(input2)
    print("Converted input1 to integer:", input1_int)
    print("Converted input2 to integer:", input2_int)
except ValueError:
    print("One or both inputs cannot be converted to integers.")

Value of input1: 1.1
Value of input2: Monday
One or both inputs cannot be converted to integers.

Question 2: What is the data type of x1 and x2? Now perform simple comparisons between x1 and x2:

Check if the two variables are equal?

Check if x1 is greater than x2?

Check if x2 is greater than x1?

Check if x1 is not equal to x2?

Store the difference between the two variables x1 and x2 in another variable x3 (subtract the smaller number from the larger number).

Increment the smaller of the two variables (x1 and x2) with the difference.Use the shorthand addition operator for the same. Again check if x1 and x2 are equal or not?

In [ ]:
# Data types of x1 and x2
print("Data type of x1:", type(x1))
print("Data type of x2:", type(x2))

# Comparisons between x1 and x2
try:
    x2_float = float(x2)  # Attempt to convert x2 to float for comparison
    print("Are x1 and x2 equal?", x1 == x2_float)
    print("Is x1 greater than x2?", x1 > x2_float)
    print("Is x2 greater than x1?", x2_float > x1)
    print("Are x1 and x2 not equal?", x1 != x2_float)

    # Calculate the difference and increment the smaller variable
    difference = abs(x1 - x2_float)
    print("Difference between x1 and x2:", difference)

    if x1 < x2_float:
        x1 += difference
    else:
        x2_float += difference

    print("After incrementing the smaller variable:")
    print("x1:", x1)
    print("x2:", x2_float)
    print("Are x1 and x2 equal now?", x1 == x2_float)

except ValueError:
    print("Cannot perform numeric comparisons or operations because x2 is not convertible to a float.")

TypeError: '>' not supported between instances of 'float' and 'str'

int

False

False

True

True

1

3

False